<div class="form-group"> 
	<input type="text" name="name" placeholder="name" id="name" ng-model="name" class="text-captilize form-control" required />
</div>
<div class="form-group"> 
	<input type="text" name="name" placeholder="practice name / business name" id="bname" ng-model="bname" class="text-captilize form-control" required />
</div>
<div class="form-group">
	<input type="text" name="address" placeholder="address" id="address" ng-model="address" class="text-captilize form-control" required />
</div>
<div class="form-group"> 
	<input type="tel" name="phone" placeholder="phone" id="phone" ng-model="phone" class="text-captilize form-control" required />
</div>
<div class="form-group"> 
	<input type="email" name="email" placeholder="email" id="email" ng-model="email" class="text-captilize form-control" required />
</div>
<div class="form-group"> 
	<input type="text" name="website" placeholder="website" id="website" ng-model="website" class="text-captilize form-control" required />
</div>